<html>
	{{with .TargetUser}}
	<head>
		<title>{{.Firstname}} {{.Lastname}} - SimpleSocial </title>
	</head>
	<body>
		<h1> {{.Firstname}} {{.Lastname}} </h3>
		<h2> {{.Email}} </h2>
		<h3> {{.Registeredon}} </h3>
		<h4> Userid: {{.Userid}} </h4>
	</body>
	{{end}}
	{{if eq .MyFriendship.Status 2}}
		This user is friends with you.
		<form method="POST" action="/removefriend">
			<input type="hidden" name="targetuserid" value="{{.TargetUser.Userid}}">
			<input type = "hidden" name = "formsid" value = "{{.FormSid}}">
			<input type = "submit" name = "submit" value = "Remove Friend">
		</form>
	{{else if eq .MyFriendship.Status 1}}
		Pending Friendship Confirmation.
		<form method="POST" action="/removefriend">
			<input type="hidden" name="targetuserid" value="{{.TargetUser.Userid}}">
			<input type = "hidden" name = "formsid" value = "{{.FormSid}}">
			<input type = "submit" name = "submit" value = "Remove Pending Request">
		</form>
	{{else if eq .MyFriendship.Status 3}}
		This user is not friends with you.
		<form method="POST" action="/addfriend">
			<input type="hidden" name="targetuserid" value="{{.TargetUser.Userid}}">
			<input type = "hidden" name = "formsid" value = "{{.FormSid}}">
			<input type = "submit" name = "submit" value = "Add Friend">
		</form>
	{{end}}
	{{if not .ActiveFriends}}
		This user has no active friends.
	{{else}}
		The active friends of this user are:<br>
	<table>
		<tr>
			<td>
				User Id
			</td>
		</tr>
		{{range .ActiveFriends}}
			<tr>
				<td>
					<a href = "/profile/{{.}}">{{.}}</a>
				</td>
			</tr>
		{{end}}
	</table>
	{{end}}
	<p>
		<a href="/logout">Logout</a>
	</p>
	<p>
		Take me to <a href="/home">home</a>.
	</p>
</html>
